---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ content | safe }}

<div class="main">
  <div class="holder">
    <div class="toilet-paper">
      <div class="toilet-paper--roll">
        <div class="toilet-paper--tube"></div>
        <div class="face">
          <div class="eyes"></div>
          <div class="mouth"></div>
        </div>
      </div>
    </div>
  </div>  
</div>
