---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="top-section">
  <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="wave">
    <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:rgba(255, 301, 188, 1); font-family: 'Poppins', sans-serif;"></path>
    <text x="20" y="20" font-family="sans-serif" font-size="20px" fill="black">The best sheeet of your life!</text>
  </svg>
</div>